<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="pdfreport.PdfLogging"></listener>
	</listeners>
	<test name="RegressionTest">
		<classes>
			<class name="appiumdemo.ub.appium.FacebookHomeTest" />
			<class name="appiumdemo.ub.appium.FacebookCreateAccountTest" />
			<!-- <class name="appiumdemo.ub.appium.FacebookLoginTest" /> -->

		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
